.park-types {
    display: inline;

}

.scroll {
    overflow-y: scroll;
    height: 500px;
}

.park-img {

    width: 150px;

}

li {
    padding-top: 5px;
    list-style: none;
}

.form {
    padding-top:3em;
}