/*.park-types {

}*/

.scroll {
    overflow-y: scroll;
    height: 500px;
}

.park-img {
    padding-top: 1em;
    padding-bottom: 1em;
    width: 150px;

}

li {
    padding-top: 5px;
    list-style: none;
}

.form {
    padding-top: 2em;
}

.nav {
    padding: 5px;

}