<!doctype html>
<head>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
</head>
<body>
    {% block content %} Content Goes Here {% endblock %}
   
        
       <!--  // map.addSource('markers', 
        //     {
        //        "type": "geojson",
        //         "data": {
        //        "type": "FeatureCollection",
        //        "features": [{
        //           "id": "{37}",
        //           "name": "Allyne Park",
        //           "type": "Feature",
        //           "properties": {
        //             "on_leash": True,
        //             "off_leash_enclosed": True,
        //             "off_leash_unenclosed": False
        //           },
        //           "geometry": {
        //             "coordinates": [-122.42759992, 37.79746066],
        //             "type": "Point"
        //           },
        //           "properties": {
        //             "title": "Allyne Park",
        //             "marker-symbol": "monument"
        //         }

        //         }]
        //         }
        //     }); -->

    
    
</body>
</html>

