<!-- This is where the main portion of the site code will live. Map implementation 
and interaction (filtering etc). -->

{% extends 'base.html' %}
{% block content %}
<h1>Bark Park!!</h1>
<div id="park-info"></div>
<nav class='menu-ui'>
  <!-- <a href='#' class='active' id='filter-all'>All Parks</a> -->
  <a href='#' data-filter='on_leash' id='on_l'>On Leash</a>
  <a href='#' data-filter='off_leash_fenced' id='off_l_f'>Fenced</a>
  <a href='#' data-filter='off_leash_open' id='off_l_o'>Off Leash Open</a>
</nav>
<!-- 
<a href='#' id='geolocate' class='ui-button'>Find me</a> -->

<div id='map' style='width: 800px; height: 600px;'></div>
<script src="/static/js/maps.js"></script>
{% endblock %}

