<!-- This is where the main portion of the site code will live. Map implementation 
and interaction (filtering etc). -->

{% extends 'base.html' %}
{% block content %}

  <div class="container-fluid">
    <div class="jumbotron">
      <h1>Bark Park!</h1>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"> 
      <ul class="nav navbar-nav navbar-right">
        <li><a href='/signup_form' id="signup">Sign up</a></li>
        <li><a href='/sign_in_form' id="signin">Sign in</a></li>
        <li><a href='/logout' id="logout">Logout</a></li>         
        </li>
      </ul>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="sidebar-nav">
          <a href='#' class="park-types" data-filter='on_leash' id='on_l'>On Leash</a>
          <a href='#' class="park-types" data-filter='off_leash_fenced' id='off_l_f'>Fenced</a>
          <a href='#' class="park-types" data-filter='off_leash_open' id='off_l_o'>Off Leash Open</a>
        </div>
        <div id="park-titles"></div>
      </div>
          <div class="col-md-6">
            <div id='map' style='width: 667px; height: 500px;'></div>
          </div>
      <div class="col-md-3">
        <div id="park-info"></div>
        <div id="comment-box"></div>
        <div id="comment-success"></div>
      </div>
    </div>
  </div>

<script src="/static/js/maps.js"></script>

<!-- raw tells jinja to skip this  -->
{% raw %}
<!--  Each template gets a script with the type below and an id that makes sense 
Much like jinja, keys are created when compiling the template with Mustache.render in maps.js file -->

<script id="popup-template" type="x-tmpl-mustache">
    <h1 class='park-cta'>{{ parkName }}</h1>
</script>



{% endraw %}
{% endblock %}

