{% extends 'base.html' %}
{% block content %}

<!-- Lists all the parks  -->
{% if on_leash %}
<h1>On Leash:</h1>
<ul>
    {% for park in parks_on_leash %}
        <li>
            {{ park.park_name | capitalize }} 
            <!-- If ther's a link, show it -->
            {% if park.park_url %}<a href="{{ park.park_url }}">Link</a>{% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}


{% if off_leash_unenclosed %}
<h1>Off Leash Open:</h1>
<ul>
    {% for park in parks_off_leash_unenclosed %}
        <li>
            {{ park.park_name | capitalize }} 
            <!-- If ther's a link, show it -->
            {% if park.park_url %}<a href="{{ park.park_url }}">Link</a>{% endif %}
        </li>
    {% endfor %}
</ul>
        {% endif %}   
    
{% if off_leash_enclosed %}
<h1>Fenced:</h1>
<ul>
    {% for park in parks_off_leash_enclosed %}
        <li>
            {{ park.park_name | capitalize }} 
            <!-- If ther's a link, show it -->
            {% if park.park_url %}<a href="{{ park.park_url }}">Link</a>{% endif %}
        </li>
    {% endfor %}
</ul>
        {% endif %}
{% endblock %}