{% extends 'base.html' %}
{% block content %}
<div>
<p> 
    {{ park.park_name }} <br>

    {% if park.park_url %}
        Find more information <a href="{{ park.park_url }}">here</a>.
    {% endif %}

    
    {% if park.comments %}
        <ul>Comments<br>
        {% for comment in park.comments %}
            <li>{{ comment.user.user_name }} on {{ comment.created_at.strftime("%b %d %Y") }}<br>{{ comment.content }}</li>
        {% endfor %}
        </ul>
    {% endif %}
</p>
<form action="/add_new_comment/{{ park.park_id }}" method="POST" class="form">
        <label for="comment">Leave a comment<br>
       
        <input type="text" name="content" required="required"></input>
        </label>
        <input type="submit" id='submit-comment'></input>
</form>

{% if park.photos %}
        <br>
        {% for photo in park.photos %}
            <img src="{{ photo.url }}" class="park-img"/>
        {% endfor %}
{% endif %}

<form action="/add_new_photo/{{ park.park_id }}" method="POST" class="form">
    <label for="photo">Add a photo<br>
    <input type="text" name="photo" required="required"></input>
    </label>
    <input type="submit" id="submit-photo"></input>
</form>

{% endblock %}